<html>
    <head>
        <title></title>
    </head>
    <body>
        <head>
            <a href="/sendEmail">send</a>
        </head>
        <main>
            <form action="/student" method="POST">
                <label>New Student</label>
                <input type="text" name="StudentName">
                <input type="submit" value="ADD">
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Average Total Score</th>
                        <th>Total Absence</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(student => { %>
                        <tr>
                            <td><%= student.StudentName %></td>
                            <td><%= student.totalScore %></td>
                            <td><%= student.totalAbsen %></td>
                            <td><a href="/student/<%= student.id %>/edit">Edit</a>
                                <a href="/student/<%= student.id %>/delete">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </main>
    </body>
</html>